/* Font Mistral taken from Online Web Fonts */
@font-face{
    font-family: Mistral;
    src: url("fonts/Mistral W01.ttf");
}

@font-face{
    font-family: Menlo;
    src: url("fonts/Menlo-Regular.ttf");
}

body{
    background-color: #fff8ef;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.top{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 950px;
}

.logo{
    font-family: Mistral;
    font-size: 45px;
}

a{
    text-decoration: none;
    color: black;
}

.buttons{
    display: flex;
    border-radius: 10px;
    background-color: #e5dbc6;
    width: 600px;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    font-family: Menlo;
}

.nav-button{
    font-family: Menlo;
    transition: 0.3s ease;
}

.nav-button:hover{
    cursor: pointer;
    background-color: #c4beb1;
}

.content{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #e5dbc6;
    width: 900px;
    height: 460px;
    font-family: Menlo;
    flex-wrap: wrap;
    border-radius: 10px;
    align-items: flex-start;
}

#text{
    margin-top: -25px;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

#main_image{
    margin-top: -30px;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: #e5dbc6;
    width: 900px;
    height: 90px;
    border-radius: 10px;
    margin-top: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: Menlo;
    align-items: center;
    font-size: 18px;
}

#copyright{
    font-size: 10px;
    margin-top: -4px;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: -30px;
    width: 750px;
}   

#mail{
    margin-top: 6px;
}

.slider{
    width: 900px;
    height: 250px;
    background-color: none;
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}

.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.dot{
    background-color: #fff8ef;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #a695a5;
    transition: 0.6s ease;
    z-index: 100;
}

.dots{
    display: flex;
    width: 130px;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 3px;
}

#prev, #next{
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    color: #e5dbc6;
    font-weight: bold;
    font-size: 32px;
    transition: 0.5s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 100;
    margin-top: -80px;
}

.arrows{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
}

#prev:hover, #next:hover{
    color: #a695a5;
}

#photo{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: 3px;
    z-index: -1;
}

.kontakt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    font-size: 20px;
    margin-top: 1px;
    line-height: 30px;
}

.content_2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    background-color: #e5dbc6;
    width: 900px;
    height: 570px;
    font-family: Menlo;
    flex-wrap: wrap;
    border-radius: 10px;
    align-items: center;
}